<div class="card">
    <div class='card-body'>
        <div class='card-header' [ngStyle]="{backgroundColor : durationColor}">{{ talk.area }}</div>
        <div class='card-title'>{{ talk.title }}</div>
        <div class='card-subtitle'>{{ talk.speaker }}</div>
    </div>
</div>
