.filters{
    margin: 10px;
}

.listButton{
    width : 200px;
    height : 50px;
    margin : 10px;
    text-align: center;
    color : white;
}

.bigButton{
    width: 200px;
    height: 50px;
    margin: 10px;
    text-align: center;
}