<div class='color-container'>
    <h2>Details</h2>
    <hr>

    <p><b>Name:</b>{{ recepie.name }}</p>
    <p>{{ recepie.description }}</p>
    <p><b>Nutrition:</b>{{ recepie.nutrition }} kcal</p>
    <p><b>Complexity:</b>{{ recepie.complexity }}</p>
</div>>
