<div class='alert alert-info song'>
    <p>{{ song.artist }}</p>
    <p>{{ song.title}}</p>
    <p>{{ song.count }}</p>
    <p>
        <button class='btn-primary' (click)="onClickBtn()">+1</button>
    </p>
</div>