<div class='kanban' *ngIf="kanban.completedSubtasks < kanban.numOfSubtasks">
    <h3>{{ kanban.title }}</h3>
    <div [innerHTML]='kanban.description'></div>
    <p>Progress</p>
    <div class='border border-secondary'>
        <div [ngStyle]="{height : '20px', width : progressBarWidth, border : '1px solid black', backgroundColor : progressBarColor}"></div>
    </div>

    <button (click)="onClickCompleteNextTask()">Complete next subtask</button>
</div>